<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Lista Turma</title>
<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet"
		href="materialize/css/materialize.min.css" media="screen,projection" />
		<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>

<table class="container">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nome</th>
				<th>Horário</th>
				<th>Dias da Semana</th>
				<th>Deletar</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="turma : ${turmas}">

				<td><a
					th:href="${(#mvc.url('EC#detalhesTurma').arg(0, turma.codigo)).build()}"><span
						th:text="${turma.codigo}"></span></a></td>
				<td><span th:text="${turma.nome}"></span></td>
				<td><span th:text="${turma.horario}"></span></td>
				<td><span th:text="${turma.diasSem}"></span></td>
				<td><a class="waves-effect waves-light btn-small"
					th:href="${(#mvc.url('EC#deletarTurma').arg(0, turma.codigo)).build()}"><i
							class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
	</table>





<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>